<% layout('layout') %>
<div id="columns">
    <% products.forEach(function (obj) { %>
    <figure onclick="location.href=('<%= '/' + obj.name + '/' + obj.pid %>')">
        <img src="<%= obj.image %>">
        <figcaption>
            <p id="p_title"><%= obj.title %></p>
            <p id="p_price"><%= obj.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>원</p> <!-- Again... -->
            <div style="margin: 0; text-align: center">
                <%= obj.nickname %>(<%= obj.id %>)<br>
                <%= obj.regdate %>
            </div>
        </figcaption>
    </figure>
    <% }); %>
</div>
