<% layout('layout') %>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function () {
        let room = '<% params.pid %>';
        const socket = io('//localhost:5874');

        socket.on('socketToMe', function (data) {
            console.log(data);
        });

        socket.emit('join');
        socket.on('trading', function (data) {
            location.href = "/" + '<%= params.category %>' + "/" + '<%= params.pid %>' + "/trading";
        })

        $('.button').on('click', function () {
            if (confirm('거래를 신청하시겠습니까?')) {
                location.href = "/" + '<%= params.category %>' + "/" + '<%= params.pid %>' + "/trading";
            } else {
                console.log('취소했엉...');
            }
        });
    })
</script>
<div id="jb-container">
    <div id="jb-content">
        <img src="<%= product[0].image %>" align="center">
    </div>
    <div id="jb-sidebar">
        <h1 class="pName"><%= product[0].title %></h1>
        <center>
            <table>
                <tr>
                    <th><h4 class="pInfo">가격</h4></th>
                    <th><h2 class="pInfo"><%= product[0].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            원</h2></th>
                </tr>
                <tr>
                    <th><h4 class="pInfo">거래지역</h4></th>
                    <th><h3 class="pInfo"><%= product[0].region %></h3></th>
                </tr>
                <tr>
                    <th><h4 class="pInfo">판매자정보</h4></th>
                    <th><h3 class="pInfo"><%= product[0].nickname %> (<%= product[0].id %>)</h3></th>
                </tr>
                <tr>
                    <th><h4 class="pInfo">물품등록날짜</h4></th>
                    <th><h3 class="pInfo"><%= product[0].regdate %></h3></th>
                </tr>
                <tr>
                    <th style="padding: 50px 0 40px 0;" colspan="2" rowspan="3">
                        <a class='button'>거래신청</a>
                    </th>
                </tr>
            </table>
        </center>
    </div>
    <div id="jb-footer">
        <p><%- product[0].description %></p>
    </div>
</div>
