<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<header>
    <p>
        <% if (!user.userId) { %>
        <input type="button" value="로그인" id="signin" onclick="location.href='/signin'">
        <input type="button" value="회원가입" id="signup" onclick="location.href='/signUp'">
        <% } else { %>
        <%= user.nickname %>님(<%= user.userId %>)
        <input type="button" value="로그아웃" id="signout" onclick="location.href='/signout'">
        <% } %>
    </p>
    <center>
        <p>
        <h1>SYSLET MARKET</h1></p>
        <a href="/"><img src="/images/shopping-cart.png" height="150px"></a>
    </center>

</header>
<article>
    <div id="jb-container">
        <div id="jb-content">
            <img src="<%= product[0].image %>" align="center">
        </div>
        <div id="jb-sidebar">
            <h1 class="pName"><%= product[0].title %></h1>
            <center>
            <table>
                <tr>
                    <th><h4 class="pInfo">가격</h4></th>
                    <th><h2 class="pInfo"><%= product[0].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>원</h2></th>
                </tr>
                <tr>
                    <th><h4 class="pInfo">거래지역</h4></th>
                    <th><h3 class="pInfo"><%= product[0].region %></h3></th>
                </tr>
            </table>
            </center>
        </div>
        <div id="jb-footer">
            <p>Copyright</p>
        </div>
    </div>
</article>
</body>
</html>
